

.parametric-if-container {
  font-family: 'Graphik Web';
  font-weight: 400;
  line-height: 1.5;
  min-height: 75vh;
  padding-bottom: 4em;
}
.parametric-if-options {
  transition: opacity 0.75s;
  transition-delay: 0.5s;
  font-weight: 500;
}

.parametric-if-heading {
  font-family: 'Graphik Web';
  color: #5DA391;
  font-size: 18px;
  display: inline;
  margin-bottom: 1em;
  font-weight: bold;
}

button {
  background: #4801FF;
  font-family: Silkscreen;
  border: none;
  box-shadow: none;
  border-radius: 0px;
  color: white;
  font-size: 14px;
  padding: 1em 2em;
  cursor: pointer;
}

.parametric-if-option {
  color: #D9CCFF;
  cursor: pointer;
}
.parametric-if-option:hover {
  text-decoration: underline;
}


@-webkit-keyframes parametric-value-increased {
  0% {
      color: #539987;
  }
  75% {
    color: #539987;
  }
  100% {
      color: #fff;
  }
}

@-webkit-keyframes parametric-value-decreased {
  0% {
      color: #B33A3A;
  }
  75% {
      color: #B33A3A;
  }
  100% {
      color: #fff;
  }
}

.parametric-scoreboard-value > .dynamic {
  color: #ffffff;
  margin-left: 1px;
}
.parametric-value-increased > .dynamic {
  -webkit-animation-name: parametric-value-increased;
  -webkit-animation-duration: 900ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
}

.parametric-value-decreased > .dynamic {
  -webkit-animation-name: parametric-value-decreased;
  -webkit-animation-duration: 900ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
}

.parametric-scoreboard {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: 'Graphik Web';
  font-size: 16px;
  margin-bottom: 2em;
  padding-top: 2em;
  font-weight: bold;
}

.parametric-scoreboard-value {
  /* width: 100%; */
  /* border: solid 2px #c5c5c5; */
  text-align: center;
  padding-right: 2em;
  color: #7E7E7E;
}

.start-button {
  display: block;
  text-align: left;
  margin-left: 0;
}