
.parametric-if-options {
  transition: opacity 0.75s;
  transition-delay: 0.5s;
}

.parametric-if-heading {
  font-family: Silkscreen;
  background: #4801FF;
  color: white;
  padding: 0.5em;
  font-size: 14px;
  display: inline;
  margin-bottom: 1em;
}